@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
    --primary-color: #3321cc;
    --gradient-color: rgba(0, 0, 0, 0.5);
    --error-color: #cc3b3b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.5;
	color: #333;
}

header{
    display: flex;
    align-items: center;
    padding: 0 4em;
    min-height: 5em;
	background-color: var(--primary-color);
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul > * + *{
    margin-left: 1em;
}

nav a{
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
	transition: 300ms opacity linear;
}

nav a:hover, .active{
    opacity: 0.6;
}

.lines{
	cursor: pointer;
	display: none;
    padding: 1em 0;
}

.line{
	width: 2.2em;
    height: 0.25em;
	background-color: #fff;
	position: relative;
}

.line::before{
	content: '';
	width: 2.2em;
    height: 0.25em;
	background-color: #fff;
	position: absolute;
	top: -220%;
	transition: 300ms top ease-in-out;
}

.line::after{
	content: '';
	width: 2.2em;
    height: 0.25em;
	background-color: #fff;
	position: absolute;
	top: 220%;
	transition: 300ms top ease-in-out;
}

.open ~ .lines .line{
	background-color: transparent;
}

.open ~ .lines .line::before{
    top: 0;
	transform: rotate(45deg);
	transition: 300ms transform ease-in-out;
}

.open ~ .lines .line::after{
    top: 0;
	transform: rotate(-45deg);
	transition: 300ms transform ease-in-out;
}

main{
    padding: 2.5em 4em;
    min-height: calc(100vh - 10em);
}

.error{
    background-color: var(--error-color);
    color: #fff;
    transition: 300ms padding ease-in-out;
    width: 100%;
    text-align: center;
}

form{
    width: 50em;
    max-width: 100%;
}

label{
    display: block;
    font-size: 1.3rem;
	color: var(--primary-color);
	margin: 1em 0 0.4em;
}

input{
    outline: none;
    padding: 0.6em;
    font-size: 1rem;
    width: 100%;
}

select{
    outline: none;
    padding: 0.8em 0.6em;
    font-size: 1rem;
    width: 100%;
}

.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    grid-gap: 1em;
}

input[type="submit"]{
    border: none;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-color);
    padding: 1em 3em;
	margin: 2em 0 0;
    width: auto;
    border-radius: 3em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
	transition: 300ms opacity linear;
}

input[type="submit"]:hover{
    opacity: 0.6;
}

footer{
    display: flex;
    align-items: center;
    padding: 0 4em;
    min-height: 5em;
    background-color: var(--primary-color);
}

footer p{
	color: #fff;
	font-size: 0.9rem;
}

@media(max-width:768px){
    header{
        padding: 0 2em;
    }

    nav ul{
        padding: 0 2em;
        background-color: var(--primary-color);
        flex-direction: column;
        position: absolute;
        z-index: 10;
        top: 5em;
        right: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: 300ms height ease-in-out;
    }

    nav ul > * + *{
        margin: 1em 0 0;
    }

    .open{
        height: 9em;
    }

    .lines{
        display: inline-block;
    }

    main{
        padding: 2.5em 2em;
    }

    label{
        font-size: 1.2rem;
    }

    input{
        font-size: 0.9rem;
    }

    input[type="submit"]{
        font-size: 0.9rem;
        width: 100%;
    }

    footer{
        padding: 0 2em;
    }

    footer p{
        font-size: 0.8rem;
    }
}

@media(max-width:425px){
    header{
        padding: 0 1em;
    }

    main{
        padding: 2.5em 1em;
    }

    footer{
        padding: 0 1em;
        justify-content: center;
    }
}